<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fallenangel.linmea.testConfig" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25" />

    <instrumentation
        android:name="android.support.testConfig.runner.AndroidJUnitRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for com.fallenangel.linmea"
        android:targetPackage="com.fallenangel.linmea" />

    <application>
        <uses-library android:name="android.testConfig.runner" />
    </application>

</manifest>