<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fallenangel.linmea">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".LinMea"
        android:theme="@style/AppTheme">
        <activity
            android:name="._linmea.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".linmea.startup.StartUpActivity">
        </activity>
        <activity android:name=".authentication.LoginActivity">
        </activity>
        <activity android:name=".authentication.SignUpActivity">
        </activity>
        <activity android:name=".linmea.user.profile.ProfileActivity">
        </activity>
        <activity android:name=".authentication.ChangePasswordActivity">
        </activity>
        <activity android:name=".linmea.user.profile.ChangeProfileDataActivity">
        </activity>
        <activity android:name=".profile.activities.ChangeUserProfileActivity">
        </activity>
        <activity android:name="._linmea.ui.dictionary.AddCustomDictionaryActivity">
        </activity>
        <activity android:name="._linmea.ui.dictionary.DictionaryActivity">
        </activity>
        <activity
            android:name=".preference.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="._linmea.ui.preference.Preference$CustomDictionaryPreference"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="._linmea.ui.preference.Preference$MainPreference"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="._linmea.ui.preference.Preference$DetailViewPreference"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="._linmea.ui.preference.Preference"
            android:label="@string/title_activity_settings">
        </activity>
        <activity android:name="._linmea.ui.MainActivity">
        </activity>
        <activity android:name="._linmea.ui.first_start.FirstStartActivity">
        </activity>

        <service
            android:name="._linmea.service.UpdateUserData"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name="._linmea.service.ChatService"
            android:enabled="true">
        </service>
        <service
            android:name="._test.BoundService"
            android:enabled="true">
        </service>

        <activity
            android:name=".linmea.ui.dictionary.WordDetailActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="._linmea.ui.dictionary.BaseDetailActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="._linmea.ui.preference.DictionaryCustomizerActivity">
        </activity>
        <activity android:name="._linmea.ui.preference.MainPreferenceActivity">
        </activity>
        <activity android:name="._linmea.ui.society.ChatRoomActivity">
        </activity>

        <receiver
            android:name="._linmea.service.BroadReceive"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>