<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Кондрашов Дмитрий Эдуардович
  ~ Copyright (C) 2018. All rights reserved.
  ~ email: kondrashovde@gmail.com
  ~
  ~ Last modified 1/26/18 5:59 PM
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fallenangel.linmea">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LinMea"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="._modulus.main.ui.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="._modulus.auth.ui.LoginActivity" />
        <activity android:name="._modulus.auth.ui.SignUpActivity" />
        <activity
            android:name="._modulus.custom_dictionary.ui.AddCustomDictionaryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="._modulus.custom_dictionary.ui.DictionaryActivity">
            <intent-filter android:label="@string/custom_dictionaries">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="linmea"
                    android:pathPrefix="/dictionary_"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity android:name="._modulus.main.ui.MainActivity" />
        <activity
            android:name="._modulus.custom_dictionary.ui.BaseDetailActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="._modulus.prferences.ui.DictionaryCustomizerActivity" />
        <activity android:name="._modulus.prferences.ui.MainPreferenceActivity" />
        <activity
            android:name="._modulus.testing.TestingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="._modulus.testing.TestConfiguratorActivity" />
        <activity
            android:name="._modulus.grammar.ui.DetailGrammarActivity"
            android:label="@string/title_activity_detail_grammar" />
        <activity android:name="._modulus.grammar.ui.GrammarsListActivity" />
        <activity android:name="._modulus.main.supclasses.SuperAppCompatActivity" />
        <activity
            android:name="._modulus.testing.TestResultActivity"
            android:label="@string/title_activity_test_result"
            android:theme="@style/AppTheme" />
        <activity
            android:name="._modulus.auth.ui.UserProfileActivity"
            android:label="@string/title_activity_up"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="._modulus.grammar.ui.DetailActivity" />
        <activity android:name="._modulus.main_dictionary.ViewMainWordActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="._barcode.BarCodeReaderActivity" />
        <activity android:name="._modulus.main.ui.AboutActivity"></activity>
    </application>

</manifest>